* {
  text-decoration: none;
}
h3,
h4 {
  margin: 0;
  padding: 0;
}
.dashboard1 {
  background-color: #fafafa;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.dashboard__header1 {
  width: 100%;
  background-color: #282c2f;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.dashboard__posts1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-evenly;
}
